
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inika:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Junge&family=Quicksand:wght@300..700&family=Shadows+Into+Light&display=swap');



.page {

  width: 100%;
  height: 100vh;
  border: 1.8vh solid #2F5E1E;
  display: flex
;
    flex-direction: column;
    justify-content: space-evenly;
}
.header {
  width: 100%;
  height: 20vh;
  font-family: "Junge", serif;
  font-weight: 50;
  font-size: 1.5vh;
  display: flex
;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.main {

  display: flex
;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

.cartao {

  margin-bottom: 5%;
}



.footer {

  width: 100%;
  font-size: 1.5vh;
  font-family: "Junge", cursive;
  margin-top: 10%;
  text-align: center;
  

}